<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Phoenix!</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <div class="container">


        <div class="max-w-sm p-8 mx-auto my-12 bg-white border-2 border-primary-500">
            <p>Sorry, but an error occured on the server.</p>
            <div>&nbsp;</div>

            <a href="/">➜ Home</a>
        </div>


    </div> <!-- /container -->
    <script src="/js/app.js"></script>
</body>

</html>
