/* This file is for your main application css. */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_fonts.css";
@import "../node_modules/nprogress/nprogress.css";
@import "./_mavu_generic.css";
@import "./_mavu_form_md.css";
@import "./_buttons.css";
@import "./_tinymce.css";

@import "./_elements.css";

html {
  scroll-behavior: smooth;
}
